.home {
    margin-top: 100px;
    margin-bottom: 100px;
}

.quack{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px;
    height: 70px;
 
}

.quack div{
    display: flex;
    align-items: center; 
    gap: 10px;
    
}

.quack div p{
    font-size: 14px;
    color: rgb(167, 167, 167);
}

