.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  padding-inline: 10vw;
}

.login form {
  display: flex;
  flex-direction: column;
}
.login form div {
  display: flex;
  flex-direction: column;
}
.login form div input {
  border-style: none;
  height: 40px;
  font-size: 17px;
  border-bottom: 2px solid #fe854c;
  margin-bottom: 10px;
}
.login form div input:focus {
  outline: none;
}

.login form button {
  padding: 10px 14px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.274);
  background-color: #fe854c;
  width: 200px;
  margin-bottom: 20px;
  color: white;
  font-size: 17px;
}

.login p {
  text-align: center;
  width: 24ch;
}