.quackDetail img{
    width: 50px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quackDetail p {
    padding-left: 20px;
    font-size: 30px;
}

.dontShow{
    display: none;
}